rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /inventory_scans/{document} {
      allow read, write: if true;
    }
    match /inventory_reports/{document} {
      allow read, write: if true;
    }
    match /mantas_scans/{document} {
      allow read, write: if true;
    }
  }
}
